{% extends "base.html.twig" %}

{% block title %}Lucky Number{% endblock %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>
    <p>You are now working through {{ section }} section. Keep it up!</p>
{% endblock %}

